
 .row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

body {
	/* margin: 0 30%; */
	/* background-color: #716DF2; */
	text-align: center;
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #eae7dc;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  .background-blue{
	background-color: #84ceeb; /*Màu của background bên trên */
  }
.full-width{
	width: 160px;
}

 .background-color{
	background-color: #eae7dc; /* Màu của background bên dưới */
}

.logo {
	margin-top: 20px;
  }

.radius{
	border-radius: 10%;
}

.device1{
	background-color: #edeae5;
}

.device2{
	background-color: #edeae5;
}
.device3{
	background-color: #edeae5;
}
.device4{
	background-color: #edeae5;
}
.device5{
	background-color: #edeae5;
}
.device6{
	background-color: #edeae5;
}

.background-image1{
	background-image: url("img/livingroom.gif");
}
.background-image2{
	background-image: url("img/kitchenroom.gif");
}
.background-image3{
	background-image: url("img/bedroom.gif");
}